div1 {
    background-color: #94dfff;
    width: 50px;
    padding: 50px ;
    
    margin: 10px ;
  }
body {
    background-color:#fafa10;
    }

    h1 {

           border: 2px solid blue;
           text-align: center;
           font-family: courier;
           color:blue;
           font-size: 130% ;

           }